.carousel {
    position: relative;    
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.carousel-image {
    width: 100%;
    height: 500px;
    border-radius: 25px;
    object-fit: cover;
}

.carousel-arrowleft {  
    position: absolute;
    left: 30px;
    top: 200px;
    color: white;
    font-size: 85px;
    cursor: pointer;
    
}

.carousel-arrowright {
    position: absolute;
    right: 30px;
    top: 200px;
    color: white;
    font-size: 85px;
    cursor: pointer;
}

.carousel-count {
    position: absolute;

    color: white;
    font-size: 18px;
    font-family: 'Montserrat';
}

@media screen and (max-width:992px) {
    .carousel-count {
        display: none;
    }

    .carousel-image {
        height: 255px;
    }

    .carousel-arrowleft {
        font-size: 20px;
        top: 120px;
        left: 15px;
    }

    .carousel-arrowright {
        font-size: 20px;
        top: 120px;
        right: 15px;
    }
}

@media screen and (max-width:768px) {
    .carousel-count {
        display: none;
    }

    .carousel-image {
        height: 255px;
    }

    .carousel-arrowleft {
        font-size: 20px;
        top: 120px;
        left: 15px;
    }

    .carousel-arrowright {
        font-size: 20px;
        top: 120px;
        right: 15px;
    }
}