header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}

nav{
    display: flex;
    gap: 60px;
}

.link-header {
    text-decoration: none;
    color:#FF6060 ;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.link-header:hover {
    text-decoration:underline;
}

@media screen and (max-width: 992px) {
    nav {
        gap: 40px;
    }

    .link-header {
        font-size: 18px;
    }

    .logo {
        width: 180px;
    }
}

@media screen and (max-width:768px){
    header {
        padding: 20px 0px;
    }

    nav {
        gap: 15px;
    }

    .link-header {
        font-size: 13px;
    }

    .logo {
        width: 130px;
    }
}
