.logement-info {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.logement-first-section {
    display: flex;
    flex-direction: column;
}

.logement-title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    margin: 0;
}

.logement-location {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    margin: 0;
    padding-top: 5px;
}

.logement-tags-section {
    display: flex;
    gap: 15px;
    padding-top: 20px;
}

.logement-tags {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    padding: 5px 35px;
}


.logement-second-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 252px;
    width: 100%;
}

.logement-host {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logement-host-name {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    margin: 0px;
}

.logement-host-picture {
    width: 64px;
    border-radius: 150px;
}

.stars {
    font-size: 24px;
    padding-left: 15px;
}

.red-stars {
    color: #FF6060;
}

.grey-stars {
    color: #E3E3E3;
}

.logement-dropdown-section {
    display: flex;
    gap: 80px;
    padding-bottom: 20px;
}

.logement-dropdown {
    width: 580px;
}

@media screen and (max-width:992px) {
    .logement-host-name {
        font-size: 15px;
    }

    .stars {
        font-size: 17px;
    }

    .logement-tags {
        font-size: 12px;
        padding: 5px;
        border-radius: 10px;
    }

    .logement-host-picture {
        width: 64px;
    }

    .logement-title {
        font-size: 26px;
    }

    .logement-location {
        font-size: 16px;
    }

    .logement-dropdown-section {
        gap: 40px;
    }
}

@media screen and (max-width:768px) {
    .logement-info {
        flex-direction: column;
    }

    .logement-second-section {
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 1000px;
    }

    .logement-host-name {
        font-size: 15px;
    }

    .stars {
        font-size: 17px;
        padding-right: 15px;
        padding-left: 0px;
    }

    .logement-tags {
        font-size: 9.9px;
        padding: 5px;
        border-radius: 8px;
    }

    .logement-host-picture {
        width: 50px;
    }

    .logement-title {
        font-size: 26px;
    }

    .logement-location {
        font-size: 18px;
    }

    .logement-dropdown-section {
        gap: 0px;
    }
}