.cards {
    background-color: #F6F6F6;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 50px;
    padding: 50px;
    margin-top: 40px;
}

.card-logement {
    position: relative;
}

.card-image {
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(90%)
}

.card-logement:hover {
    scale: 1.05;
    transition: 0.5s;
}

.card-title {
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    width: 180px;
}
